root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{py,md,toml,json,yaml,yml,ts,tsx,js,css,html}]
end_of_line = lf
indent_style = space
indent_size = 2

[*.py]
indent_size = 4

[*.ps1]
end_of_line = crlf
indent_style = space
indent_size = 2
